<html lang="en">
<head>
	
	<title>Book Store</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#cart').click(function(){
				isbn=$(this).parent().prev().prev().prev().prev().text();
				title=$(this).parent().prev().prev().prev().text();
				author=$(this).parent().prev().prev().text();
				price=$(this).parent().prev().text();
				window.open("/shoppingcart?isbn="+isbn+"&title="+title+"&author="+author+"&price="+price+"&action=add");
			});
		});
	</script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div class="well">
		<h2>Book Store</h2>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="shoppingcart">Cart</a></li>
				<li><a href="sellingcart">Selling Cart</a></li>
				<li><a href="logout">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
	<div class="jumbotron">
	<form action="user" method="get" class="form-inline">
		<div class="form-group">
			<input type="text" name="query" class="form-control">
			<button type="submit" class="btn btn-primary" name="submit">Search</button>
		</div>
	</form>
	</div>
	{% if context != None %}
	
	<div class="jumbotron" style="left-padding:10px">
	<table class='table table-hover'><tr><th>ISBN</th><th>Book</th><th>Author</th><th>Price</th><th>Add to Cart</th></tr>
	{% for c in context %}
			<tr><td>{{c.isbn}}</td><td> {{c.title}} </td><td> {{c.author}} </td><td> {{c.price}} </td>
				<td><button type='button' name='cart' class='btn btn-primary' id='cart'>Add to cart</button></td></tr>
				{% endfor %}
			</table>
	
		</div>
		{% endif %}
	</div>
</body>
</html>
